version: '2.2'

services:
  # Minio
  minio:
    image: minio/minio
    ports:
      - ${MINIO_API_PORT}:9000
      - ${MINIO_CONSOLE_PORT}:9001
    volumes:
      - minio:/data
    environment:
      MINIO_ROOT_USER: ${MINIO_USERNAME}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    command: server --console-address ":9001" /data


  # Postgres
  postgres14:
    container_name: my_postgres
    image: postgres:14-bullseye
    restart: unless-stopped
    ports:
      - ${PG_PORT}:5432
    environment:
      - POSTGRES_USER=${PG_USER}
      - POSTGRES_PASSWORD=${PG_PWD}
      - POSTGRES_DB=${PG_DB}
    volumes:
      - postgres:/data

  # Redis
  redis7:
    container_name: my_redis
    image: redis:7.0-alpine
    restart: unless-stopped
    command: redis-server --appendonly yes --requirepass "${REDIS_PWD}"
    ports:
      - ${REDIS_PORT}:6379
    volumes:
      - redis:/data

  # Mongodb
  mongo6:
    container_name: my_mongo
    image: mongo:6.0
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PWD}
    ports:
      - ${MONGO_PORT}:27017
    volumes:
      - mongodb:/data

  # Gitlab runner
  runner:
    container_name: my_runner
    image: gitlab/gitlab-runner:latest
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - runner:/etc/gitlab-runner

  # Jenkins
  jenkins:
    container_name: my_jenkins
    build:
      context: .
      dockerfile: dockerfile/jenkins
    image: my_jenkins
    restart: always
    volumes:
      - jenkins:/var/jenkins_home/
      - jenkins:/certs/client:ro
    environment:
      - DOCKER_HOST=tcp://docker:2376
      - DOCKER_CERT_PATH=/cert/client
      - DOCKER_TLS_VERIFY=1
    ports:
      - ${JENKINS_PORT}:2376

volumes:
  mongodb:
    driver: local
  postgres:
    driver: local
  redis:
    driver: local
  runner:
    driver: local
  jenkins:
    driver: local
  minio:
    driver: local